
.ttr-messages-user {
    display: flex;
    align-items: center;
    width: 150px;
    padding: 10px;
    cursor: pointer;
    /*margin-top: 20px;*/
    border: 1px solid lightgrey;
}
.ttr-messages-user:hover{
    background-color: #ececec;
}
.ttr-messages-user-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.ttr-messages-username {
    font-weight: 500;
}

.ttr-messages-button{
    display: flex;
    border:0px;
}
/*.ttr-messages-button:hover{*/
/*    position: relative;*/
/*    background-color:#0d6efd;*/
/*}*/
@media screen and (max-width: 768px) {
    .conversationName {
        display: none;
    }
}