.ttr-bookmarks-message{
    /*border: 1px grey solid;*/
/**/
    padding:10px;

}

.ttr-bookmarks-screen{
    height: 600px;
    overflow: hidden;
    overflow-y: scroll;
}
.ttr-bookmarks-message-content{
    background-color:lightgrey;
    border-radius: 10px;
}

.ttr-bookmarks-type{
    display:flex;
    flex-direction: row;
}